<h3>issues</h3>

{{input value=search placeholder="search" class="columns small-6"}}
<table class="table issue-table">
  <thead>
    <tr>
      <th class="sortable" {{action "setSort" "submissionAt"}}>
        submission time
        {{#if (eq sort 'submissionAt')}}
          <i class={{if (eq dir "asc") "fa fa-sort-asc" "fa fa-sort-desc"}}></i>
        {{/if}}
      </th>
      <th class="sortable" {{action "setSort" "customerName"}}>
        customer name
        {{#if (eq sort 'customerName')}}
          <i class={{if (eq dir "asc") "fa fa-sort-asc" "fa fa-sort-desc"}}></i>
        {{/if}}
      </th>
      <th class="sortable" {{action "setSort" "customerEmail"}}>
        customer email
        {{#if (eq sort 'customerEmail')}}
          <i class={{if (eq dir "asc") "fa fa-sort-asc" "fa fa-sort-desc"}}></i>
        {{/if}}
      </th>
      <th> description </th>
      <th class="sortable" {{action "setSort" "status"}}>
        status
        {{#if (eq sort 'status')}}
          <i class={{if (eq dir "asc") "fa fa-sort-asc" "fa fa-sort-desc"}}></i>
        {{/if}}
      </th>
      <th class="sortable" {{action "setSort" "closedAt"}}>
        close time
        {{#if (eq sort 'closedAt')}}
          <i class={{if (eq dir "asc") "fa fa-sort-asc" "fa fa-sort-desc"}}></i>
        {{/if}}
      </th>
      <th class="sortable" {{action "setSort" "employeeName"}}>
        employee name
        {{#if (eq sort 'employeeName')}}
          <i class={{if (eq dir "asc") "fa fa-sort-asc" "fa fa-sort-desc"}}></i>
        {{/if}}
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each issues as |issue|}}
      <tr>
        <td data-th="submission time">{{issue.submissionTime}}</td>
        <td data-th="customer name">{{issue.customerName}}</td>
        <td data-th="customer email">{{issue.customerEmail}}</td>
        <td data-th="description">{{issue.description}}</td>
        <td data-th="status">{{issue.status}}</td>
        <td data-th="close time">{{issue.closedTime}}</td>
        <td data-th="employee name">{{issue.employeeName}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
