<h3>metrics</h3>

<div class="period text-center">
  <button class="hollow button" {{action "goPeriodBack"}}>
    <i class="fa fa-angle-left"></i>
  </button>
  <span class="period-title">
    {{period-in-words period}}
  </span>
  <button class="hollow button" {{action "goPeriodNext"}}>
    <i class="fa fa-angle-right"></i>
  </button>
</div>

<div class="issues chart">
  {{issue-chart issues=issues period=period}}
</div>
<hr>
<p>
  number of open issues: {{openingIssues.length}}
</p>
<hr>
<div class="customers chart">
  {{customer-chart customers=customers month=currentMonth}}
</div>
